body {
	background: purple;
}


/* ----------- Tablets larger than 768px wide ----------- */
@media (768px and larger) {
	body {
    background: red;
  }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (1200px and larger) {
	body {
		background: blue;
	}

}
